<h2>Welcome to the Amazon Launchpad API</h2>
<p>
  The goal of this API is to be as simple as possible.
</p>

<h3>Accessing Endpoints</h3>
<ul>
  <li>The API is reachable at https://api.producthunt.com/widgets/amazon/v1/&lt;ENDPOINT&gt;</li>
  <li>Currently the API is fully public.</li>
</ul>

<p>
  Happy Hacking!
</p>
