<%= transactional_layout do %>
  <%= transactional_box title: 'Your Job Listing - Cancellation' do %>
    <p>You have requested the cancellation for your job subscription (#<%= @job.id %>) on Product Hunt.</p>
    <p>As much as we’re sad to see you go, we’re hoping you’ve found someone to join your team.</p>
    <p>Your listing has been removed from the jobs board.</p>
    <p>Let me know if you have any questions.</p>

    <%= transactional_salutation salute: 'Many thanks', from: 'Emily Hodgins' %>
  <% end %>
<% end %>
