<table class="footer-container">
  <tr>
    <td style='text-align: center'>
      <div class='cta-container'>
        <%= link_to cta_text, link_destination, target: '_blank', class: 'cta-link' %>
      </div>
    </td>
  </tr>
</table>