<%= transactional_layout do %>
  <%= transactional_box do %>
    <h1 class="account-suspended-title">Information regarding your account on Product Hunt.</h1>
    <div class="separator" />
    <p>
      Hey there,
    </p>
    <br/>
    <p>
      Your account was flagged as a branded or company account, which is not eligible to post products or comment on the site. 
    </p>
    <p>
      Personal accounts have full access to post products and comments on Product Hunt — this is completely free and just requires some easy changes from you. The reason we do this is to foster a more personal community; our members like to interact with real people, not corporate marketing bots 🤖 (sorry, Officebot 3000).
      Adding teammates as makers is a great way to celebrate individuals who worked on a project.
    </p>
    <p>
      If you'd like to comment & post products on Product Hunt, just update your account's name, profile picture, and bio to reflect a real person. 
      You can update this <%= link_to 'here!', edit_my_settings_url %>
    </p>
    <p>
      You may also want to update your username, in which case I can make this change for you. Let me know what you'd like for me to change it to and I'll care of that right away. 
    </p>
    <p>
      Please let me know once you've updated your account. We will review and reinstate your ability to post and comment once we've confirmed the changes! Don't hesitate to reach out with any other questions. 
    </p>
    <%= transactional_salutation salute: 'Best', from: 'Product Hunt team' %>
  <% end %>
<% end %>
