<table class="footer-container">
  <tr>
    <td>
      <p class='footer-text'>
        Questions? Read our <%= link_to 'Launch Guide', launch_guide_url(@tracking_params), class: 'transactional-v2-link' %> on best practices, or reach out to us at <%= CommunityContact::REPLY %> if you still need help.
      </p>
    </td>
  </tr>
  <tr>
    <td style='text-align: center'>
      <div class='cta-container'>
        <%= link_to cta_text, link_destination, target: '_blank', class: 'cta-link' %>
      </div>
    </td>
  </tr>
</table>