Hello, <%= @account.user.name %>,

Your Product Hunt Ship Subscription couldn't be charged due to payment error.

Don’t worry. We’ve kept your data safe.

Please, update your payment information today to reactivate your Ship Pro features.

REACTIVATE YOUR SUBSCRIPTION 👉 <%= my_ship_plans_url %>

Have questions about upgrading?
Our team will be happy to answer any question you might have.<br />
Contact us or visit our help center.

Let us know if there is anything we can do.

Thank you,
Product Hunt team 

---


If you have any questions, feedback, ideas or problems don't hesitate to contact us!</p>
<%= contact_address %>
