<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hi there 👋</p>
    <p>We are super excited that you would like to build with our brand new API.
      We require your API key in order to enable write access for your app. You can find your API key <a href="https://api.producthunt.com/v2/oauth/applications">here</a>
    </p>
    <p>Make sure to send the API key to <a href="mailto:hello@producthunt.com">hello@producthunt.com</a> and we will get you set up in a jiff!</p>
    <%= transactional_salutation salute: 'Happy making', from: 'Team Product Hunt' %>
  <% end %>
<% end %>
