<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hi <%= @user.first_name %> </p><br/>
    <p>
      Hope your entry for the Makers Festival: Green Earth edition is coming along smoothly 🤗
    </p>
    <p>
    Just as a reminder submissions close on the <strong>18th of June</strong> so make sure to submit your product before then to be in with a chance to win some amazing prizes including tickets to TechCrunch Disrupt, a Webflow CMS plan and access to over $100,000 savings for your favorite products.
    </p>
    <p>
      You can submit your product <a href="https://www.producthunt.com/makers-festival/green-earth" target="_blank">here</a>.
    </p>
    <%= transactional_salutation salute: 'Happy making', from: 'Team Product Hunt' %>
  <% end %>
<% end %>
