<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hey there 👋</p><br/>
    <p>
      We are super excited to see what you build for the Makers Festival. We know building a new product can be cumbersome so we are reaching out to ask if you need any help, are there any burning questions you need answered or do you just want some feedback on the product itself?
    </p><br />
    <%= transactional_salutation salute: 'Happy making', from: 'Team Product Hunt' %>
  <% end %>
<% end %>
