<fieldset class="inputs">
  <ol>
    <li>
      <%= label_tag('upload Image') %>
      <%= inline_file_upload(id: "upload", name: "makers_festival_participant[project_thumbnail]", value: participant.project_thumbnail) %>
    </li>
  </ol>
</fieldset>
