<fieldset class="inputs">
  <ol>
    <li>
      <%= label_tag('image_uuid') %>
      <%= inline_file_upload(id: "upload", name: "radio_sponsor[image_uuid]", value: sponsor.image_uuid) %>
    </li>
  </ol>
</fieldset>
