<p class="newsletter-welcome-heading">
  Happy to see you here!
</p>

<p class="newsletter-welcome-message">
  We're thrilled to be here with you today, in your inbox. It's cozy 🥰
  <br />
  We hope you'll enjoy the stories we write for you and the products picked by
  the community.
  <% if @subscriber.user.blank? %>
    Feel free to
    <%= link_to 'create an account on Product Hunt to be part of', login_url(@tracking_params), target: '_blank' -%>
    the community and pick the best products of tomorrow.
  <% end %>
</p>