<% if @content.anthologies_story.present? %>
<div class="newsletter-section newsletter-story">
  <div class="label">
    <%=
      Anthologies.story_category(
        @content.anthologies_story.category
      ).name
    -%>
  </div>
  <div class="title"><%= @content.anthologies_story.title -%></div>
  <div class="description"><%= @content.anthologies_story.description -%></div>

  <%=
   link_to(
    "Read more (#{ @content.anthologies_story.mins_to_read}min read)",
    story_url(@content.anthologies_story, @tracking_params),
    target: '_blank',
    class: 'read-more'
   ) -%>
</div>
<% end %>
