.collection-digest-email--colection-heading {
  text-align: center;

  h2 {
    margin: 5px 0 10px;
    padding: 0px;
  }
  h3 {
    margin: 0 0 20px 0;
    padding: 0px;
  }
  h4 {
    color: $grey;
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;

    a {
      color: $grey !important;
      text-decoration: underline;
    }
  }
}

.collection-digest-email--secondary-post {
  max-width: 300px;
  border: 1px solid $silver;
  border-radius: $radius;
  padding: 10px;
  text-align: center;

  h2 {
    margin: 0 0 10px 0;
  }
}

.collectiond-digest-email--secondary-post-thumbnail {
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 140px;
  margin: 0 auto 0 auto;
}

.collection-digest-email--more-section {
  margin-top: 40px;
}

.collection-digest-email--more-button {
  background-color: $v7-coral;
  border-radius: 2px;
  color: $white !important;
  font-size: 14px;
  padding: 10px 10px 9px;
  text-decoration: none;
}

.collection-digest-email--footer {
  text-align: center;
  color: $dark-silver;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
}

.collection-digest-email--recommended-collection {
  width: 250px;
  vertical-align: top;
  border: 1px solid $light-grey-legacy;
  border-radius: $radius;
  height: 326px;
  padding: 10px;
  text-align: center;

  p {
    margin: 0 0 5px 0;
    color: $dark-silver;
    font-size: 14px;
  }

  h3 {
    font-weight: $font-weight-bold;
    color: $black;
    font-size: 16px;
    margin: 5px 0;
  }
}

.collectiond-digest-email--recommended-collection--thumbnail {
  background-position: center center;
  background-size: cover;
  width: 250px;
  height: 140px;
  margin: 0 auto 0 auto;
}

.collection-digest-email--recommended-collections--follow-button {
  width: 70px;
  margin: 0 auto 0 auto;
  background: $white;
  border-radius: $radius;
  border: 2px solid $v7-coral;
  color: $v7-coral;
  font-size: 14px;
  font-weight: $font-weight-bold;
  height: 34px;
  line-height: 34px;
  outline: none;
  padding: 2px 10px 0 10px;
  text-align: center;
}
