img.emoji {
  height: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  width: 1em;
}

// NOTE(ayrton) overwrites reset of `a img { vertical-align: bottom }`
a img.emoji {
  vertical-align: -0.1em;
}
