@import 'variables';

.story-item-lg {
  td {
    figure {
      margin-top: 0px;
      margin-bottom: 10;
    }
  }
  .story-title {
    width: 510px; 
    margin: auto; 
    margin-bottom: 10px;
    color: $darker-grey;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
}