body {
  color: $black;
  font-family: $font-family-system;
  line-height: 18px;
}

a {
  color: $v7-coral !important; // NOTE(rstankov): Outlook overwrite color, unless !important is added
  text-decoration: none;
}

ul {
  padding: 0 0 0 20px;
}

li {
  font-weight: normal;
  margin: 7px 0;
}

.unsubscribe {
  font-size: 12px;
  border-top: 1px solid $light-grey-legacy;
  color: $dark-silver;
  padding: $spacing-normal 0;

  a {
    color: $grey !important;
  }
}

.footer {
  text-align: center;
  color: $grey;
  font-size: 12px;

  a {
    color: $grey !important;
    text-decoration: underline;
  }
}

.footer.unsubscribe {
  text-align: center;
}
