.big-cta-button-container {
  margin-top: 40px;
  width: 510px;
  background-color: $v7-coral;
  border: 1px solid $v7-coral;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
  text-align: center;

  p {
    font-size: 16px;
    line-height: 24px;
    color: $white !important;
  }
}