.notification {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 0;
  &.top-border {
    border-top: 1px solid $light-grey-legacy;
  }
}

.notification-header {
  padding: 0px $spacing-small;
}

.notification-action-button {
  padding-bottom: $spacing-large;
  padding-top: $spacing-large;
  text-align: center;

  a {
    background-color: $v7-coral;
    border-radius: $radius;
    color: $white !important;
    font-size: 14px;
    padding: 10px 20px 9px;
    text-decoration: none;
    white-space: nowrap;
  }
}

.notification-thumbnail {
  vertical-align: top;
  .user-image {
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.notification-comment {
  margin-top: $spacing-normal;
}

.notification-comment-text {
  color: $grey;

  a {
    color: $grey;
    text-decoration: underline;
  }

  p {
    padding-left: 20px !important;

    &:first-child {
      margin-top: 0px;
    }
  }

  img {
    max-width: 100%;
  }
}

.notification-post {
  border-top: 1px solid $light-grey-legacy;
  border-bottom: 1px solid $light-grey-legacy;
  padding: $spacing-small 0;
}

.notification-post-name {
  font-size: 16px;
  font-weight: 600;
  color: $black !important;
}

.notification-post-tagline {
  font-size: 16px;
  color: $black !important;
}
