.transactional-separator {
  padding-top: 20px;
  border-top: 1px solid $silver;
  margin-top: 20px;
}

.transactional-cta {
  margin: 20px 0;

  &.m-center {
    text-align: center;
  }
}

.transactional-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 10px;
}

.transactional-container .logo {
  text-align: left !important;
}

.transactional-date {
  text-align: right;
  font-size: 13px;
  color: $grey;
}

.transactional-box {
  background: $white;
  padding: $spacing-normal;
  border-radius: $radius;
  margin-bottom: $spacing-normal;

  .notification-action-button {
    padding-bottom: $spacing-small;
  }
}

.transactional-box-title {
  color: $black;
  font-size: 20px;
  font-weight: $font-weight-semi-bold;
  line-height: 32px;
}

.transactional-box-separator {
  background: $silver;
  height: 1px;
}

.transactional-text {
  font-size: 16px;
  line-height: 23px;
}

.transactional-text p:first-of-type {
  margin: 0px;
}

.transactional-text p:nth-of-type(2) {
  margin: 0 0 20px 0;
}

.transactional-text p:last-of-type {
  padding: 0;
  margin: 0 0 20px 0;
}

.transactional-text .button {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

a.button-primary {
  height: 40px;
  border-radius: 4px;
  background-color: $v7-coral;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}
