.upcoming-page-weekly-stats {
  .upcoming-page-subscribers tr, td {
    padding: 10px;
  }

  .upcoming-page-subscribers tr:nth-child(odd) {
    background-color: #f9f9fa;
  }

  .upcoming-subscriber {
    font-size: 12px;
  }

  .upcoming-subscriber-name {
    font-size: 12px;
  }

  .upcoming-subscriber-headline {
    font-size: 12px;
    color: $grey;
  }

  .upcoming-subscriber-followers {
    color: $grey;
    font-weight: bold;
  }

  .upcoming-subscriber-username {
    a {
      color: $grey !important;
    }
  }

  .maker-task-title {
    a {
      color: #333 !important;
      font-weight: bold;
    }
  }

  .upcoming-promo {
    background-color: #f9f9f9;
    border: 1px solid #ebeced;
    padding: 20px;
    font-size: 12px;
  }

  .section-title {
    text-align: center;
    color: $grey;
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    padding: 20px 0;
    text-transform: uppercase;
  }

  .maker-task-description {
    font-size: 12px;
    color: $grey;
  }
}
