<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hey, there!</p>

    <p>
      Please confirm subscription to <%= @upcoming_page_name %>
    </p>

    <p class="text-center">
      <%= button_to "Yes, I want to receive emails about #{ @upcoming_page_name }", @confirm_path %>
    </p>

    <p>
      If you received this email by mistake, simply delete it.
      <br/>
      You won't be subscribed if you don't click the confirmation link above.
    </p>

    <p>Thank you!</p>
  <% end %>
<% end %>
