<fieldset class="inputs">
  <ol>
    <li>
      <%= label_tag('upload Image') %>
      <%= inline_file_upload(id: "upload", name: "promoted_product[newsletter_image_uuid]", value: promoted.newsletter_image_uuid) %>
    </li>
  </ol>
</fieldset>