<%= transactional_layout do %>
  <%= transactional_box do %>
    <p>Hello, <%= @user.friendly_name %>!</p>
    <p>It looks like you imported a big mailing list.</p>
    <p>To prevent abuse, we are reviewng the list before you can message people on this list. It shouldn't take too much time. Stay tuned.</p>
    <p>If you have any questions or feedback, don't hesitate to contact us!</p>
  <% end %>
<% end %>
