Hey,

<p>
  <%= @job.company_name %> has just posted a job with the following extra packages:
</p>

<% if @job.extra_packages.present? %>
  <ul>
    <% @job.extra_packages.each do |package_name| %>
    <li>
      <%= package_name %>
    </li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'View in admin', admin_job_url(@job) %>
