<table border="0" cellpadding="5" cellspacing="0" width="100%">
  <tr>
    <td align='center' width='100%' head="30">
      <%= button_to text, url, class: 'cta-link' %>
    </td>
  </tr>
  <% if defined?(show_link_text) && show_link_text %>
    <tr>
      <td width='100%'>
        <p class="sm-text">
          Alternatively, you can copy this url: <%= link_to url, url, target: '_blank' -%>
        </p>
      </td>
    </tr>
  <% end %>
</table>
