<table class='footer' border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class='description'>
      <p>
        You’re receiving this notification because you <%= text %> on Product&nbsp;Hunt.
      </p>
      <p><%= contact_address %></p>
      <%= render 'mailer/social_footer_links', utm_content: "mr" %>
    </td>
  </tr>
</table>
