<%= render 'mailer/transactional_v2_header', destination: root_url %>

<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td height="70" width='100%'>
      <p class="large-text">
        <%= text %>
      </p>
    </td>
  </tr>
</table>
