<%= transactional_box title: 'Renewal - Founder Club Membership' do %>
  <p>
    Your subscription to Founder Club on Product Hunt is about to be renewed.<br/>
    <br/>
    If you'd like to cancel your membership to Founder Club, you can do so <%= link_to 'here', my_subscriptions_founder_club_url %>.
  </p>
  <%= transactional_salutation salute: 'Many thanks', from: 'The Product Hunt Team' %>
<% end %>
