<i>You're receiving this email because you entered our Sweepstakes. (Good luck - we hope you win!)</i>

<p>
  Congrats! You’re the newest member of the Product Hunt community, the place to discover your next favorite thing.
</p>

<p>
You’ll now be the first to know of the coolest new products in tech — whether it’s Instagram adding a new feature, early access to a hot new <a href="https://www.producthunt.com/posts/polymail-2">email app</a>, or just a simple tool to <a href="https://www.producthunt.com/posts/linkmoji">impress</a> your friends. 😜
</p>

<p>
<i>What to Expect:</i> Every Monday we'll send you the most popular products from the previous week, along with any breaking tech news, a roundup of products around a topic, and obligatory cat gifs.
</p>

<p>
If you're not into new products, tech news, awesome giveaways or cat gifs, no problem, just hit this <b><%= link_to 'unsubscribe link', @unsubscribe_url %></b> and you won't hear from us again.
</p>

<p>
If you do want to hear from us, awesome! Welcome to the community! 😻 No need to do anything further.
</p>

<br>

<%= s3_image_tag 'cat-high-fives.gif' %>
