<p>Hi friend,</p>

<p>
Congrats! You're the newest member of the Product Hunt community, the best place to discover your next favorite thing.
</p>

<p>
Starting tomorrow, we'll send you our daily digest of the coolest new products in tech - whether it's Instagram adding a new feature, early access to a hot new <a href="https://www.producthunt.com/posts/polymail-2">email app</a>, or just a simple tool to <a href="https://www.producthunt.com/posts/linkmoji">impress</a> your friends. 😜
</p>

<p>
Have a product of your own that you'd like to share with the community? If it's still in development, be sure to check out <a href="https://www.producthunt.com/ship">Ship</a> to get feedback, build an audience, and scale your vision.
<br /><br />
If you've already got a product that you're ready to hunt, or if you're ready to join the conversations around these awesome products, be sure to check out our <a href="https://www.producthunt.com/contributor">contributor program</a> to gain access to commenting and posting.
</p>

<p>
If you're not into new products, tech news, awesome giveaways or cat gifs, no problem, just hit this <b><%= link_to 'unsubscribe link', @unsubscribe_url %></b> and you won't hear from us again.
</p>

<p>
Happy Hunting,<br />Jake, on behalf of the Product Hunt team
</p>

<%= s3_image_tag 'cat-high-fives.gif' %>
