<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag "shareable/base", media: "all" %>
  <%= stylesheet_link_tag "shareable/upcoming_event", media: "all" %>
</head>

<body>
  <div class="card flexable column justify-center">
    <p>
      <span class="coming-soon">Coming soon</span>
    </p>
    <div class="title"><%= @upcoming_event.title -%></div>
    <div class="description"><%= @upcoming_event.description -%></div>
  </div>
</body>
</html>
