<a href="https://www.producthunt.com" class="logo" title="Product Hunt">
  <%= s3_image_tag('product-hunt-logo-orange.png', alt: '', class: 'logo--image') %>
  <span class="logo--name">Product Hunt</span>
</a>
