<p>
  <%= link_to 'Advertise', advertising_url({ utm_content: utm_content }) -%>,&nbsp;
  <%= link_to 'Twitter', social_twitter_url -%>,&nbsp;
  <%= link_to 'Facebook', social_facebook_url -%>,&nbsp;
  <%= link_to 'Stories', stories_url -%>
</p>
