<div class="transactional-box">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">
    <% if title %>
      <tr>
        <td colspan="2" class="transactional-box-title"><%= title %></td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
      <tr>
        <td height="1" class="transactional-box-separator"></td>
      </tr>
      <tr>
        <td height="20"></td>
      </tr>
    <% end %>
    <tr>
      <td class="transactional-text">
        <%= yield %>
      </td>
    </tr>
  </table>
</div>
