<div class="chartContainer bar">
  <div class="chartWrap">
    <h3><%= title -%></h3>
    <div class="legend">
      <ul class="legendList">
        <li class="legendItem item-0">
          <div class="square"></div>
          Views
        </li>
        <li class="legendItem item-1">
          <div class="square"></div>
          Votes
        </li>
        <li class="legendItem item-2">
          <div class="square"></div>
          Clicks
        </li>
      </ul>
    </div>
    <div class="highchartsContainer" id="<%= chart_id -%>"></div>
  </div>
  <div class="statsWrap">
    <p class="statsTableLabel">Views / Upvotes / Clicks (%)</p>
    <table class="statsTable">
      <% data[:categories].each_with_index do |category, idx| %>
      <tr>
        <td class="dataPointName"><%= category -%></td>
        <td class="dataPointValue">
          <%= "#{ data[:views][idx] || 0 } / #{ data[:votes][idx] || 0 } / #{ data[:clicks][idx] || 0 }" -%>
        </td>
      </tr>
      <% end -%>
    </table>
  </div>
</div>