@import 'variables';

.card {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  min-height: 270px;
  padding: 15px 20px;
  width: 540px;
}

.card-body {
  align-items: center;
  display: flex;
  flex: 1;
  margin: 0 0 15px;
}

.card-footer {
  align-items: center;
  border-top: 1px solid $silver;
  display: inline-flex;
  padding: 10px 0 0 0;
  width: 100%;
}

.goal {
  display: inline-flex;
}

.goal-checkbox {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #c9c9c9;
  flex: 0 0 auto;
  height: 17px;
  margin: 5px 10px 0 0;
  width: 17px;
}

.goal-checkbox.checked {
  background: #00b37e;
  border-color: #00b37e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-title {
  color: #000;
  flex: 1 1 auto;
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}

.goal-title.checked {
  color: #999;
  text-decoration: line-through;
}

.avatar {
  margin: 0 10px 0 0;
  position: relative;
}

.avatar-image {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.avatar-badge {
  position: absolute;
  right: -5px;
  top: -5px;
}

.username {
  font-size: 20px;
  color: #999999;
}

.logo {
  margin: 0 0 0 auto;
}
