@import 'variables';

body {
  padding: 40px;
  position: relative;
  background: linear-gradient(270deg, rgba(245,249,234,1) 0%, rgb(235,241,253) 90%);
  font-family: $font-family-system;
}

.header {
  margin-bottom: 32px;
  height: 80px;
}

.title {
  font-weight: 700;
  font-size: 36px;
}

.tagline {
  font-size: 24px;
  font-weight: 300;
  color: #4B587C;
}

.logo-top-left {
  float: left;
  margin-right: 22px;
  z-index: 100;
  border-radius: $v6-radius;
}

.row {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: $v6-radius;
}

.col {
  text-align: center;
  border: 2px solid $silver;
  border-top: 0px;
  background-color: $white;
  padding-top: 24px;
  padding-bottom: 24px;
  display: table-cell;
  border-bottom-left-radius: $v6-radius;
  border-bottom-right-radius: $v6-radius;
}

.metricText {
  color: $lighter-grey;
  font-size: 28px;
}

.metricNum {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 12px;
}

.chartWrap {
  border: 2px solid $silver;
  background-color: white;
  display: flex;
  padding: 30px;
  flex-direction: column;
  border-top-left-radius: $v6-radius;
  border-top-right-radius: $v6-radius;
}

.signatureContainer {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.phText {
  display: inline-block;
  color: #DA552F;
  font-size: 24px;
  font-weight: 700;
}

.launchedOnText {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  color: #4B587C;
}

.phImage {
  margin-right: 12px;
  margin-left: 12px;
  display: inline-block;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}