@import 'variables';

.card {
  padding: 80px;
}

.bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.inner-card {
  padding: 85px 0px;
  background: transparent;
  box-shadow: none;
  z-index: 2;

  .thumbnail {
    border-radius: 8px;
    margin-right: 40px;
  }

  .title {
    font-size: 60px;
    font-weight: $font-weight-semi-bold;
    line-height: 72px;
    color: white;
  }
}

.sub-text {
  z-index: 1;
}

@media screen and (max-width: 540px) {
  .card {
    padding: 36px;
  }

  .inner-card {
    padding: 38px 0;
    min-height: 100%;

    .thumbnail {
      width: 80px;
      border-radius: $v6-radius;
      margin-right: $spacing-normal;
    }

    .title {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
