.user-avatar {
  width: 250px;
  position: relative;
  margin-right: 60px;

  .maker-badge {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 56px;
    height: 56px;
  }
}

.content {
  div + div {
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .circle {
    width: 120px;
    height: 120px;
  }

  .user-avatar {
    width: 15%;
    position: relative;
    margin-right: 24%;
    margin-top: 20px;

    .maker-badge {
      width: 46px;
      height: 46px;
    }
  }

  .content {
    margin-top: 20px;
  }
}