<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <%= stylesheet_link_tag 'newsletter_digest.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
